.palette {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.color {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 36px;
	height: 36px;
}

.selection {
	display: flex;
}

.selection .color {
	width: 48px;
	height: 48px;
	margin-right: 24px;
}

.selection .color:last-child {
	margin-right: 0;
}

.results {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.item {
	flex: 1 1 33.33%;
	margin-bottom: 24px;
}

.item__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.item__caption {
	margin-bottom: 8px;
	text-align: center;
}

.item__caption p {
	margin-bottom: 4px;
}

.item__caption p:last-of-type {
	margin-bottom: 0;
}

.item__title {
	font-weight: 600;
}
